@font-face {
  font-family: AvenirLTStd-Roman;
  src: url(../assets/Font/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: AvenirLTStd-BLACK;
  src: url(../assets/Font/AB.ttf);
}

@font-face {
  font-family: AEH;
  src: url(../assets/Font/AEH.ttf);
}